body {
    margin: 0;
    font-family: Calibri, sans-serif;
    background: linear-gradient(135deg, #0d0d0d, #2b2b2b);
    color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    text-align: center;
    background: #111;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 0 50px gold;
}

.business-name {
    font-family: "Matura MT Script Capitals", cursive;
    font-size: 40px;
    color: gold;
    margin-bottom: 20px;
}

.business-info {
    font-size: 18px;
    margin-bottom: 40px;
}

.luxury-btn {
    background: linear-gradient(45deg, gold, #b8860b);
    color: #000;
    border: none;
    padding: 15px 45px;
    font-size: 18px;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0 0 25px gold;
    transition: 0.3s ease;
}

.luxury-btn:hover {
    transform: scale(1.07);
}
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

