body {
  background:#0b0b0b;
  color:gold;
  font-family:Calibri;
}
.royal-header{text-align:center;padding:30px}
.royal-header h1{font-family:"Matura MT Script Capitals"}
.auth-box,.service-card{background:#111;border:1px solid gold;
padding:20px;margin:20px auto;width:300px;border-radius:15px}
button{background:gold;border:none;padding:10px;border-radius:20px;width:100%}
